/*Carousel*/

.wrap_jcarousel{
  width: 858px;
  margin: 20px auto 10px;
  position: relative;
}

.wrap_jcarousel li{
	height: 480px;
	width: 850px;
}

.jcarousel img{
	height: 480px;
	width: 850px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    border: 4px solid black;
    border-radius: 7px;

}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
}
.wrap_jcarousel a img{
	padding: 2px 2px 0 2px;
	width: 12px;
	height: 12px;
}
.jcarousel-prev{
	position: absolute;
	left: -40px;
	top: 230px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 12px;
	background: rgba(0,0,0,0.4);
	border: 3px solid black;
}
.jcarousel-next{
	position: absolute;
	right: -40px;
	top: 230px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 12px;
	background: rgba(0,0,0,0.4);
	border: 3px solid black;
}

.jcarousel-pagination{
    background-color: transparent;
    position: absolute;
    display: block;
    bottom: 10px;
    left: 47%;
}

.jcarousel-pagination a{
      text-decoration: none;
      text-align: center;
      line-height: 20px;
      color: #fff;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: rgba(0,0,0,.8);
      border-radius : 50%;
      margin-left: 5px;
  	}
.jcarousel-pagination a:first-child{
        margin-left: 0;
      }
.jcarousel-pagination a:hover{
        background-color: rgba(0,0,0,.6);
      }
.jcarousel-pagination .active{
		background-color: rgba(0,0,0,.4);
      }

.wrap_jselect{
	display: block;
	width: 260px;
	margin: 0 auto;
}
.wrap_jcheck{
	display: block;
	width: 160px;
	margin: 20px auto;
}
.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox-sprite.png);
	}
.niceCheck input {
	display: none;
}

.css_checkbox input[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
.css_checkbox label {
	cursor: pointer;
}
.css_checkbox label:before {
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/checkbox-sprite.png);
	position: relative;
	top: 3px;
	margin-right: 3px;
}
.css_checkbox input[type=checkbox]:checked + label:before {
background-position: 0 -17px;
}
.css_checkbox label:hover:before {
background-position: 0 -34px;
}
.css_checkbox input[type=checkbox]:checked + label:hover:before {
background-position: 0 -51px;
}

nav {
    background-color:rgb(24,24,24);
    padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}
nav li ul {    
    background-color:rgb(40,40,40);
    position:absolute;
    left:0;
    top:40px;
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px;
    margin:0;
}
nav a {
    line-height:40px;
    padding:0 15px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(160,160,160);
}

nav li li a {
    border-bottom:solid 1px rgb(16,16,16);
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

nav li.dropdown > a {
    background-image:url('http://callmenick.com/_development/slide-down-menu/img/arrow-down.png');
    background-position: right center;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('http://callmenick.com/_development/slide-down-menu/img/arrow-right.png');
    background-position:right center;
    background-repeat:no-repeat;
}

.dropdown {
	z-index: 999;
}

ul.sub-menu {
    display:none;
}