<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/script.js"></script>
<script src="js/templating.js"></script>
<script src="js/QBase.js"></script>
</head>
<body>
	<script type="text/template" id="test">
		<div class="page">
			<h1> <%=data.title %> </h1>
			<form class="test__box" action="#">
					<% for(var i = 0; i < data.question.length; i++) { %>
					<ol class="test"> <%=data.question[i].q %>
						<% for(var j = 0; j < data.question[i].answer.length;j++) { %>
						<li> 
							<label>
							<input type="checkbox" class="<%='check'+i%>" id="<%='chBox_'+i+'_'+j%>">
							<%=data.question[i].answer[j].text %>
							</label>
						</li>
						<% } 
						%>
					</ol>	
					<% } %>
					<button id="go">Проверить себя</button>
					<div id="modal_form">
						<span id="modal_close">X</span>
						<h3>Результаты</h3>
						<p></p>
					</div>
					<div id="overlay"></div>
			</form>
		</div>
	</script>
</body>
</html>
