.wrapper{
	display: block;
	width: 540px;
	background: #eee;
	margin: 15px auto;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
	border: 2px solid black;
	border-radius: 10px 10px 0 0;
	font-family: sans-serif;
	padding: 20px;
}
label{
	display: inline-block;
	width: 90px;
	padding: 8px;
	font-size: 18px;
	font-style: italic;
}
form div{
	position: relative;
	overflow: hidden;
}
form p{
	position: absolute;
	opacity: 0;
	padding: 0 5px;
	top: 6px;
    left: 280px;
    background: white;
    line-height: 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background: yellow;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
input{
	font-weight: bold;
    font-style: italic;
}
button{
	font-weight: bold;
	font-size: 14px;
	margin-left: 7px;
	margin-top: 10px;
	width: 90px;
	height: 30px;
}